// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled() {
	padding-left: 0;
	list-style: none;
}

// Button variants
@mixin button-variant( $color, $background, $border ) {
	color: $color;
	border-color: $border;
	background-color: $background;
}

// Clearfix
@mixin clearfix() {
	&::after {
		display: table;
		clear: both;
		content: '';
	}
}

// Media queries
@mixin mobile-only() {
	@media (max-width: #{$tablet-width} - 1px) {
		@content;
	}
}

@mixin tablet-only() {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width} - 1px) {
		@content;
	}
}

@mixin tablet() {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop() {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

// Container
@mixin container() {
	width: $mobile-width - ($mobile-gutter * 2);
	margin-right: auto;
	margin-left: auto;

	@include tablet {
		width: $tablet-width - ($tablet-gutter * 2);
	}

	@include desktop {
		width: $desktop-width - ($desktop-gutter * 2);
	}
}

// Retina image
//
// Short retina mixin for setting background-image and -size.

@mixin img-retina( $file-1x, $file-2x, $width-1x, $height-1x ) {
	background-image: url($file-1x);
	background-size: $width-1x $height-1x;

	// Autoprefixer takes care of adding -webkit-min-device-pixel-ratio and -o-min-device-pixel-ratio,
	// but doesn't convert dppx=>dpi.
	// There's no such thing as unprefixed min-device-pixel-ratio since it's nonstandard.
	// Compatibility info: http://caniuse.com/#feat=css-media-resolution
	@media
		only screen and (min-resolution: 144dpi), // IE9-11 don't support dppx
		only screen and (min-resolution: 1.5dppx) { // Standardized
		background-image: url($file-2x);
	}
}
