.container {
	width: $container-mobile - ( 2 * $gutter-mobile);
	margin: 0 auto;

	@media ( min-width: $container-tablet ) {
		width: $container-tablet - ( 2 * $gutter-tablet );
	}

	@media ( min-width: $container-desktop ) {
		width: $container-desktop - ( 2 * $gutter-desktop );
	}
}
