::selection {
	background: $primary-color;
	color: #fff
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	min-width: $mobile-width;
	color: $body-text-color;
	background-color: $body-bg-color;
}

a {
	font-weight: bold;
	text-decoration: $link-decoration;
	color: $link-color;
	&:hover {
		text-decoration: $link-hover-decoration;
		color: $link-hover-color;
	}
	&:active {
		color: $link-active-color;
	}
}

img {
	max-width: 100%;
	height: auto;
}
