body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $body-text-color;
	background-color: $body-bg-color;
}

a {
	color: $link-color;
	font-weight: bold;
	text-decoration: $link-decoration;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus,
	&:active {
		outline: none;
		color: $link-active-color;
	}
}
