h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0;
	color: $heading-color;
}

h2 {
	font-size: 25px;
	line-height: 30px;

	@include tablet {
		font-size: 43px;
		line-height: 50px;
	}
	@include desktop {
		font-size: 53px;
		line-height: 57px;
	}
}

h3 {
	font-size: 17px;
	line-height: 24px;

	@include tablet {
		font-size: 20px;
	}
}

p {
	margin: 0 0 1em;
}
