.order-form {
	padding-bottom: 16px;
}

.order-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.order-form__desc-text {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 14px;
}

.order-form__btn {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

@include mobile-only {
	.order-form {
		width: $mobile-width - ($mobile-gutter * 2);
		margin-right: auto;
		margin-left: auto;
	}
}

@include tablet {
	.order-form {
		padding-top: 30px;
		padding-bottom: 0;
	}
	.order-form__desc {
		width: $tablet-width - ($tablet-gutter * 2);
		margin: 0 auto;
	}
	.order-form__desc-text {
		font-size: 17px;
		line-height: 30px;
		margin-bottom: 8px;
	}
	.order-form fieldset {
		padding: 48px 0 60px;
		&:first-of-type {
			padding-bottom: 52px;
		}
		&:nth-of-type(even) {
			padding: 60px 0;
			background-color: $body-bg-color;
		}
	}
	.order-form__fieldset-wrap {
		width: $tablet-width - ($tablet-gutter * 2);
		margin-right: auto;
		margin-left: auto;
	}
	.order-form__btns {
		display: flex;
		width: $tablet-width - ($tablet-gutter * 2);
		margin-right: auto;
		margin-left: auto;

		justify-content: space-between;
		align-items: center;
	}
	.order__info {
		width: 50%;
		padding: 0;
		text-align: right;

		order: 1;
	}
	.order-form__btn {
		width: auto;
		padding-right: 31px;
		padding-left: 31px;
	}
}

@include desktop {
	.order-form {
		padding-top: 50px;
	}
	.order-form__desc,
	.order-form__btns,
	.order-form__fieldset-wrap {
		width: $desktop-width - ($desktop-gutter * 2);
	}
	.order-form__desc-text {
		padding-right: $desktop-col;
		padding-left: $desktop-col;
	}
	.order-form__btns {
		box-sizing: border-box;
		padding-top: 40px;
		padding-right: $desktop-col;
		padding-left: $desktop-col;
	}
}
