.textarea-element__field {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 15px;
	font-family: $font-family-base;
	font-size: $input-font-size;
	line-height: 18px;
	resize: vertical;
	vertical-align: top;
	color: $input-active-color;
	border: 2px solid $input-border;
	&::placeholder {
		opacity: 1;
		color: $input-placeholder-color;
	}
	&:hover,
	&:focus,
	&:active {
		border-color: $input-active-border;
	}
	&:focus {
		outline: none;
	}
	&:disabled,
	&[readonly] {
		opacity: 1;
		border-color: $input-placeholder-color;
	}
	// &:invalid,
	&--invalid {
		border-color: $input-error-border;
	}
}

@include tablet {
	.textarea-element__field {
		font-size: 19px;
	}
}
