.text-element {
	margin-bottom: 15px;
}

.text-element label {
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	display: block;
	padding-top: 5px;
}

.text-element__field {
	font-family: $font-family-base;
	font-size: $input-font-size;
	line-height: $input-line-height;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 15px 0;
	color: $input-active-color;
	border: none;
	border-bottom: 2px solid $input-border;
	background-color: transparent;
	&::placeholder {
		opacity: 1;
		color: $input-placeholder-color;
	}
	&:hover,
	&:focus,
	&:active {
		border-color: $input-active-border;
	}
	&:focus {
		outline: none;
	}
	&:disabled,
	&[readonly] {
		opacity: 1;
		border-color: $input-placeholder-color;
	}
	// &:invalid,
	&--invalid {
		border-color: $input-error-border;
	}
	&--email {
		padding-right: 40px;
		background: url('../img/icon-mail.svg') 98% 11px no-repeat;
	}
	&--phone {
		padding-right: 30px;
		background: url('../img/icon-phone.svg') 97% 11px no-repeat;
	}
}

@include tablet {
	.text-element {
		display: flex;
		margin-top: 24px;
		margin-bottom: 0;

		align-items: center;
		&:first-of-type {
			margin-top: 0;
		}
	}
	.text-element label {
		font-size: 19px;
		margin-right: 25px;
		padding-top: 0;

		flex-shrink: 0;
	}
	.text-element__field {
		font-size: 19px;
		min-width: 50px;
		padding-right: 17px;
		padding-left: 17px;

		flex-grow: 1;
		&--email,
		&--phone {
			padding-right: 60px;
			background-position: 95% 50%;
		}
	}
}

@include desktop {
	.text-element {
		margin-top: 23px;
	}
	.text-element__field {
		padding-top: 16px;
		padding-bottom: 16px;
		&--email,
		&--phone {
			background-position: 100% 50%;
		}
	}
}
