.btn {
	display: inline-block;

	margin: 0;
	padding: 0;

	font-size: 17px;
	font-weight: bold;
	line-height: 20px;

	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-transform: uppercase;

	border: none;
	background-color: transparent;
	text-shadow: none;

	@include mobile-only {
		display: block;
	}
	&--primary {
		padding: 14px;

		color: $btn-primary-color;
		border: 2px solid $btn-primary-border;
		background-color: $btn-primary-bg;
		&:hover {
			@include button-variant( $btn-primary-bg, $btn-primary-color, $btn-primary-color );
		}
		&:focus {
			outline: none;
		}
		&:focus,
		&:active {
			@include button-variant( rgba( $btn-primary-bg, .3 ), $btn-primary-color, $btn-primary-color );
		}
	}
}

.btn--cart path {
	fill: $btn-cart-color;
}

.btn--cart:hover path {
	fill: $primary-color;
}

.btn--cart:active path {
	fill: rgba($primary-color, .3);
}
