.catalog {
	padding-top: 3px;
	@include container;
}

.catalog__item {
	margin-bottom: 30px;
}

@include tablet {
	.catalog {
		padding-top: 37px;
	}
	.catalog__item {
		margin-bottom: 54px;
	}
}

@include desktop {
	.catalog {
		display: flex;
		flex-wrap: wrap;
		padding-top: 85px;
	}
	.catalog__item {
		width: 315px;
		margin-right: 50px;
		margin-bottom: 50px;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}
