.contacts {
	padding-top: 40px;
	background-image: url('../img/bg-zigzag-line.svg');
	background-repeat: repeat-x;
	background-position: 50% 0;
}

.contacts__location {
	margin: 5px 0 40px;
}

.contacts__items {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
}

.contacts__items a {
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	color: $body-text-color;
	border-bottom: 1px solid $primary-color;

	&:hover {
		color: $primary-color;
	}

	&:active {
		color: rgba($primary-color, .3);
		border-color: currentColor;
	}
}

.contacts__field {
	width: 78px;
	margin: 0;
	flex-shrink: 0;
}

.contacts__value {
	width: calc(100% - 78px);
	margin: 0 0 30px;
}

@include mobile-only {
	.contacts__block {
		width: $mobile-width - ($mobile-gutter * 2);
		margin-right: auto;
		margin-left: auto;
	}
	.contacts__title {
		font-size: 18px;
		line-height: 30px;
		margin: 0 0 25px;
	}
}

@include tablet-only {
	.contacts__block {
		width: $tablet-width - ($tablet-gutter * 2);
		margin-right: auto;
		margin-left: auto;
	}

	.contacts__value {
		width: calc( (#{$tablet-col}*2) - 78px );
	}

	.contacts__block--after-map {
		text-align: center;
	}
}

@include tablet {
	.contacts__title {
		padding: 16px 0;
		margin-bottom: 33px;
		background: url('../img/icon-flag.svg') right top no-repeat;
	}

	.contacts__items {
		font-size: 17px;
	}

	.contacts__location {
		margin: 25px 0 55px;
	}

	.contacts__write {
		padding-right: 39px;
		padding-left: 39px;
	}
}

@include desktop {
	.contacts {
		padding-top: 92px;
	}

	.contacts__wrap {
		width: $desktop-width - ($desktop-gutter * 2);
		margin-right: auto;
		margin-left: auto;
		@include clearfix;
	}

	.contacts__title {
		background-position: 63px 8px;
		margin-left: -$desktop-col;
		padding-left: $desktop-col;
	}

	.contacts__block {
		width: $desktop-col * 1.8;
		float: left;
		padding-left: $desktop-col;

		&--before-map {
			padding-top: 28px;
		}

		&--after-map {
			padding-top: 50px;
		}
	}

	.contacts__location {
		float: right;
		width: $desktop-col * 3;
		margin: 0;
	}
}
