.featured {
	padding-bottom: 30px;

	@include container;
}

.featured__header {
	margin-bottom: 25px;
}

.featured__title {
	margin: 0 0 6px;
}

.featured__label {
	font-size: 17px;
	line-height: 1;
	display: block;
	text-transform: uppercase;
	color: $primary-color;
}

.featured__content {
	margin-bottom: 28px;
}

.featured__excerpt {
	padding-bottom: 3px;
}

.featured__thumbnail {
	margin: 0 0 25px;
}

.featured__image {
	vertical-align: top;
}

.featured__details {
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;
}

.featured__details-field,
.featured__details-value {
	padding: 7px 10px 8px 0;
	border-bottom: 1px solid $gray-lightest;
}

.featured__details-field {
	padding-right: 18px;
}

.featured__price {
	margin-bottom: 25px;
	text-align: center;
}

.featured__price-label,
.featured__price-value {
	font-size: 17px;
	line-height: 24px;
}

.featured__btn {
	display: block;
}

@include mobile-only {
	.featured__label br {
		display: none;
	}
}

@include tablet {
	.featured {
		@include clearfix;
	}
	.featured__header {
		display: flex;
		margin-bottom: 42px;

		flex-wrap: wrap;
	}
	.featured__title {
		flex-grow: 1;
	}
	.featured__label {
		margin: 12px 25px 0 0;
		text-align: center;
	}
	.featured__thumbnail {
		float: right;
		width: 50%;
		min-height: 403px;
		margin: 8px 0 20px 44px;
		text-align: center;
		background-color: rgba($primary-color, .2);
	}
	.featured__content {
		float: left;
		width: calc(50% - 44px);
		margin-bottom: 58px;
	}
	.featured__excerpt {
		font-size: 17px;
		line-height: 30px;
		padding-bottom: 18px;
	}
	.featured__details-field,
	.featured__details-value {
		padding-right: 3px;
	}
	.featured__footer {
		float: left;
		width: calc(50% - 44px);
	}
	.featured__price {
		margin-bottom: 32px;
	}
	.featured__price-label,
	.featured__price-value {
		font-size: 20px;
	}
}

@include desktop {
	.featured {
		position: relative;
		padding-bottom: 65px;
	}
	.featured__header {
		position: absolute;
		top: 52px;
		left: 0;
		margin-bottom: 0;
	}
	.featured__title {
		margin: 0;

		order: 1;
	}
	.featured__label {
		width: $desktop-col;
		margin: 15px 0 0;
	}
	.featured__content {
		margin-bottom: 110px;
		padding-top: 160px;
	}
	.featured__content,
	.featured__footer {
		width: calc(50% - 58px);
	}
	.featured__content-inner,
	.featured__footer-inner {
		padding-left: 175px;
	}
	.featured__excerpt {
		padding-bottom: 30px;
	}
	.featured__thumbnail {
		min-height: 635px;
		margin-top: 0;
		margin-left: 58px;
	}
}
