.main-nav__toggle {
	font-size: 0;
	position: absolute;
	z-index: 2;
	top: 28px;
	right: 0;
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: 250ms transform;
	border: none;
}

.main-nav--closed .main-nav__toggle {
	width: 20px;
	height: 20px;
	&::before {
		position: absolute;
		top: 3px;
		left: 0;
		width: 100%;
		height: 2px;
		content: '';
		background-color: $toggle-color;
		box-shadow: 0 6px 0 0 $toggle-color,
		0 12px 0 0 $toggle-color;
	}
	&:hover::before {
		background-color: $gray;
		box-shadow: 0 6px 0 0 $gray,
		0 12px 0 0 $gray;
	}
	&:active::before {
		background-color: $gray-light;
		box-shadow: 0 6px 0 0 $gray-light,
		0 12px 0 0 $gray-light;
	}
}

.main-nav--opened .main-nav__toggle {
	transform: rotate(180deg);
	&::before,
	&::after {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		content: '';
		background-color: $toggle-color;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
	&:hover::before,
	&:hover::after {
		background-color: $gray;
	}
	&:active::before,
	&:active::after {
		background-color: $gray-light;
	}
}

.main-nav__items {
	margin: 0;
	padding: 0;

	@include list-unstyled;
}

.main-nav__items--secondary .main-nav__item {
	display: none;
}

.main-nav__link {
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
	display: block;
	padding: 27px 10px 27px 75px;
}

.main-nav__item--search .main-nav__link,
.main-nav__item--cart .main-nav__link {
	padding-left: 30px;
}

.main-nav__link[href] {
	&:hover {
		color: $gray;
	}
	&:active {
		color: $gray-light;
	}
}

@include mobile-only {
	.main-nav__wrapper {
		margin-right: -$mobile-gutter;
		margin-left: -$mobile-gutter;
	}
	.main-nav--closed .main-nav__wrapper {
		display: none;
		&--active {
			display: block;
		}
	}
	.main-nav--opened .main-nav__wrapper {
		position: absolute;
		z-index: 10;
		top: 100%;
		right: 0;
		left: 0;
		margin-top: 1px;
		background-color: $main-bg-color;
	}
	.main-nav--nojs .main-nav__toggle {
		display: none;
	}
	.main-nav--nojs .main-nav__wrapper {
		position: static;
		display: block;
		margin-right: 0;
		margin-left: 0;
	}
	.main-nav__item {
		border-top: 1px solid $gray-lightest;
	}
	.main-nav__items--primary .main-nav__item:first-child {
		border-top: none;
	}
}

@include tablet {
	.main-nav {
		flex-grow: 1;
	}
	.main-nav__toggle {
		display: none;
	}
	.main-nav__wrapper {
		display: flex;

		flex-wrap: wrap;
	}
	.main-nav__items {
		display: flex;

		flex-wrap: wrap;
		&--primary {
			position: absolute;
			top: 100%;
			left: 0;
			width: 60%;
			margin-top: 17px;
		}
		&--secondary {
			position: absolute;
			top: 100%;
			right: 0;
			flex-direction: column;
			width: 40%;
			margin-top: 17px;
		}
		&--services {
			margin-left: auto;
		}
	}
	/* Menu Item */
	.main-nav__item {
		margin-right: 36px;
		&--search,
		&--cart {
			border-left: 1px solid $gray-lightest;
		}
	}
	.main-nav__items--secondary .main-nav__item {
		margin-right: 0;
		&--delivery {
			display: block;
		}
	}
	.main-nav__items--services .main-nav__item {
		margin-right: 0;
	}
	/* Menu Link */
	.main-nav__items--primary .main-nav__link,
	.main-nav__items--secondary .main-nav__link {
		font-size: 15px;
		padding: 0;
	}
	.main-nav__items--secondary .main-nav__link {
		text-align: right;
	}
	.main-nav__item--search .main-nav__link {
		width: 82px;
		padding: 30px 0 34px;
		text-align: center;
		border-top: none;
	}
	.main-nav__item--cart .main-nav__link {
		padding: 30px 37px 33px 31px;
		border-top: none;
	}
	.main-nav__items--services .main-nav__item:last-child .main-nav__link {
		padding-right: 0;
	}
	.main-nav__item--delivery .main-nav__link {
		font-weight: normal;
	}
}

@include desktop {
	.main-nav__items--primary {
		position: static;
		top: auto;
		left: auto;
		width: 450px;
		margin-top: 0;
	}
	.main-nav__items--secondary {
		right: auto;
		left: 0;
		flex-direction: row;
		width: 100%;
	}
	.main-nav__items--services {
		width: 450px;

		justify-content: flex-end;
	}
	/* Menu Item */
	.main-nav__items--primary .main-nav__item {
		margin-right: 0;
		border-left: 1px solid $gray-lightest;
		&:first-child {
			border-left: none;
		}
	}
	.main-nav__items--secondary .main-nav__item {
		display: block;
		margin-right: 63px;
		&--delivery {
			margin-right: 0;
			margin-left: auto;
		}
	}
	/* Menu Link */
	.main-nav__items--primary .main-nav__link {
		font-size: 17px;
		padding: 31px 37px 33px 35px;
	}
	.main-nav__items--primary .main-nav__item:first-child .main-nav__link {
		padding-left: 0;
	}
	.main-nav__items--secondary .main-nav__link {
		text-align: left;
	}
}
