.page-footer {
	padding: 25px 0;
	text-align: center;
}

.page-footer__inner {
	@include container;
}

.page-footer__logo {
	display: none;
}

.page-footer__logo-link:hover path {
	fill: $primary-color-dark;
}

.page-footer__logo-link:active path {
	fill: rgba($primary-color-dark, .3);
}

.page-footer__social {
	margin-bottom: 22px;
}

.page-footer__copyright svg {
	display: inline-block;
	margin-left: 25px;
	vertical-align: middle;
}

.page-footer__copyright path {
	fill: $primary-color;
}

.page-footer__copyright-link {
	font-size: 19px;
	line-height: 1;
	&:hover {
		color: $link-color;
	}
	&:active {
		color: rgba($link-color, .3);
	}
}

.page-footer__copyright-link:hover path {
	fill: $primary-color-dark;
}

.page-footer__copyright-link:active path {
	fill: rgba($primary-color-dark, .3);
}

.page-footer__social {
	border-bottom: 1px solid #e5e5e5;
}

@include tablet {
	.page-footer {
		padding: 52px 0 20px;
	}
	.page-footer__inner {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
	}
	.page-footer__logo {
		display: block;
		width: 200px;
		text-align: left;
	}
	.page-footer__copyright {
		width: 200px;
		padding-top: 6px;
		text-align: right;
	}
	.page-footer__social {
		margin-bottom: 0;
		padding-top: 7px;
		border-bottom: none;
		flex-grow: 1;
	}
}
