.page-header {
	background-color: $main-bg-color;
}

.page-header__top {
	position: relative;
	z-index: 2;
	border-top: 1px solid $gray-lightest;
	border-bottom: 1px solid $gray-lightest;
}

.page-header__top-wrapper {
	position: relative;
	min-height: 57px;
	padding-top: 21px;

	@include container;
}

.page-header__logo {
	text-align: center;
}

.page-header__logo-link:hover img {
	opacity: .65;
}

.page-header__logo-link:active img {
	opacity: .5;
}

@include tablet {
	.page-header__top-wrapper {
		display: flex;
		padding-top: 0;
	}
	.page-header__logo {
		margin-top: 21px;
	}
}

@include desktop {
	.page-header__logo {
		position: absolute;
		z-index: 9;
		left: 50%;
		margin-top: 7px;
		transform: translateX(-50%);
	}
}
