.page-header {
	background-color: $main-bg-color;
}

.page-header__top {
	min-height: 78px;
	border-top: 1px solid $gray-lightest;
	border-bottom: 1px solid $gray-lightest;
}

.page-header__top-wrapper {
	@include container;
}

.page-header__logo {
	padding-top: 21px;
	text-align: center;
}

@include tablet {
	.page-header__top-wrapper {
		@include clearfix;
	}
	.page-header__logo {
		position: relative;
		z-index: 2;
		float: left;
	}
}

@include desktop {
	.page-header__logo {
		position: absolute;
		left: 50%;
		float: none;
		transform: translateX(-50%);
	}
}
