.product__inner {
	padding: 18px 27px 27px;
	transition: box-shadow .25s;
	border: 1px solid $gray-lightest;
}

.product:hover .product__inner {
	box-shadow: 0 6px 10px 0 $gray-lightest;
}

.product:active .product__inner {
	box-shadow: 0 3px 5px 0 $gray-lightest;
}

.product__thumbnail {
	margin: 0;
}

.product__image {
	vertical-align: top;
}

.product__title {
	font-size: 17px;
	line-height: 24px;
}

.product__details {
	font-size: 13px;
}

.product__footer {
	display: flex;
	margin-top: 25px;
	padding-top: 21px;
	border-top: 1px solid $gray-lightest;

	justify-content: space-between;
}

.product__more-link .icon-cart {
	fill: $btn-cart-color;
}

.product__more-link:hover .icon-cart {
	fill: $primary-color-light;
}

.product__more-link:active .icon-cart {
	fill: rgba($primary-color-light, .3);
}

@include tablet-only {
	.product__thumbnail {
		width: 50%;
		min-height: 334px;
	}
}

@include tablet {
	.product {
		display: flex;
	}
	.product__thumbnail {
		text-align: center;
		background-color: rgba($primary-color, .1);
	}
	.product__inner {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		width: 50%;
		padding: 15px 27px 25px;
	}
	.product__title {
		font-size: 20px;
		margin-bottom: 8px
	}
	.product__details {
		font-size: 15px;
	}
	.product__footer {
		margin-top: auto;
		padding: 20px 5px 0 5px;
	}
	.product__price {
		font-size: 17px;
	}
}

@include desktop {
	.product {
		flex-direction: column;
	}
	.product__inner {
		width: auto;
		padding-top: 20px;

		flex-grow: 1;
	}
	.product__title {
		margin: 5px 0;
	}
	.product__details {
		line-height: 30px;
		margin-bottom: 15px;
	}
	.product__footer {
		padding-left: 0;
	}
}
