.promo {
	position: relative;
	z-index: 1;
	background-color: #f9f9f9;
	background-position: 50% -18px;
	background-repeat: no-repeat;

	@include img-retina( '../img/hero-mobile@1x.jpg', '../img/hero-mobile@2x.jpg', 575px, 373px );
}

.promo__wrapper {
	position: relative;
	min-height: 282px;

	@include container;
}

.promo__text {
	font-size: 27px;
	line-height: 30px;
	padding-top: 27%;
	padding-bottom: 20px;
	margin: 0;
	text-align: center;
	color: $heading-color;
}

@include tablet {
	.promo {
		background-position: 50% 0;
		background-size: cover;
	}
	.promo__wrapper {
		min-height: 626px;
	}
	.promo__text {
		font-size: 43px;
		line-height: 50px;
		padding-top: 23%;
	}
	.promo__text br:first-child {
		display: none;
	}
}

@include desktop {
	.promo {
		background-position: 50% -2px;
		@include img-retina( '../img/hero-desktop@1x.jpg', '../img/hero-desktop@2x.jpg', 1150px, 746px );
	}
	.promo__text {
		font-size: 53px;
		line-height: 57px;
		padding-top: 14.5%;
	}
}
