.production {
	padding-bottom: 18px;

	@include container;
}

.production__wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 32px;
	transition: box-shadow .25s;
	border: 1px solid $gray-lightest;
	&:hover {
		box-shadow: 0 6px 10px 0 $gray-lightest;
	}
	&:active {
		box-shadow: 0 3px 5px 0 $gray-lightest;
	}
}

.production__header {
	display: flex;
	padding: 24px 33px 24px;
}

.production__header svg {
	margin: 5px 25px 0 0;
	vertical-align: middle;

	flex-shrink: 0;
}

.production__header path {
	fill: $primary-color-light;
}

.production__title {
	margin: 0;

	flex-grow: 1;
}

.production__content {
	padding: 0 33px;
}

.production__video {
	margin: 0 0 28px;
}

.production__excerpt {
	font-size: 13px;
	line-height: 24px;
}

.production__footer {
	padding-top: 12px;
}

@include mobile-only {
	.production__header {
		order: -1;
	}
}

@include tablet {
	.production {
		padding-bottom: 7px;
	}
	.production__wrapper {
		padding-bottom: 45px;
	}
	.production__header {
		padding: 20px 41px 31px;
	}
	.production__header svg {
		margin-top: 0;
		margin-right: 32px;
	}
	.production__title {
		margin-top: 5px;
	}
	.production__video {
		margin-bottom: 12px;
	}
	.production__content {
		padding-right: 41px;
		padding-left: 41px;
	}
	.production__excerpt {
		font-size: 15px;
		line-height: 30px;
	}
	.production__footer {
		padding-top: 20px;
	}
	.production__do-order {
		display: block;
	}
}

@include desktop {
	.production {
		padding-top: 7px;
		padding-bottom: 3px;
	}
	.production__wrapper {
		display: block;
		padding-bottom: 0;

		@include clearfix;
	}
	.production__header {
		flex-direction: column;
		padding: 40px 50px 35px 0;
	}
	.production__title {
		margin-top: 22px;
	}
	.production__excerpt {
		padding-right: 0;
		padding-left: 0;
	}
	.production__footer {
		padding: 28px 0 0;
	}
	.production__video {
		float: left;
		width: 680px;
		margin: 0 80px 0 0;
	}
	.production__content {
		overflow: hidden;
		padding-right: 55px;
		padding-left: 0;
	}
}
