.top-categories {
	margin: 0 auto;
}

.top-categories__item {
	display: block;
	box-sizing: border-box;
	padding: 21px $mobile-gutter;
	color: #fff;
	background-color: $primary-color-light;
	font-size: 19px;
	line-height: 24px;

	@include clearfix;
	&:hover,
	&:active {
		color: #fff;
		background-color: $primary-color-dark;
	}
	&:hover {
		transform: translateY(-5px);
	}
}

.top-categories__item--second {
	background-color: $primary-color-darken;
	&:hover,
	&:active {
		background-color: $primary-color-darkest;
	}
}

.top-categories__item svg {
	float: right;
	margin-left: 25px;
	opacity: .5;
}

.top-categories__item:hover svg {
	opacity: .7;
}

.top-categories__item:active svg {
	opacity: .3;
}

.top-categories__item path {
	fill: #149080;
}

.top-categories__item-title {
	font-size: 19px;
	line-height: 24px;
	vertical-align: middle;
}

.top-categories__item:active .top-categories__item-title {
	opacity: .3;
}

@include tablet {
	.top-categories {
		width: $tablet-width - ($tablet-gutter * 2);

		@include clearfix;
	}
	.top-categories__item {
		float: left;
		width: 50%;
		min-height: 119px;
		padding: 25px 35px;
	}
	.top-categories__item-title {
		font-size: 20px;
		line-height: 30px;
	}
}

@include desktop {
	.top-categories {
		width: $desktop-width - ($desktop-gutter * 2);
	}
	.top-categories__item {
		padding: 25px 40px;
	}
}
